html{
    background-color: hsl(0, 10%, 86%);
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
}

#title{
    display: block;
}
#image{
    max-width: 100%;
    height: 50%;
    width: 80%;
}
figure{
   
    display: block;
    margin: 0 30px;
    padding: 10px;
    background: white;
}
#img-caption{
    display: block;
}
#tribute-info ul {
    margin: 16px 200px;

}
